 {{! handlebars template, will be compiled by the grunt task. The compiled version will be used in the app to improve perfermance}}
 <div class="content_view">
  <div class="container">
    <h1>{{header}}</h1>
    <p>{{text}}</p>
    <div class="row">
    <select>
      <option value="">Select</option>
    {{#each addresses}}
      <option value="{{name}}">{{name}}</option>
    {{/each}}
    </select>

    <hr />
    <div id="yolks">
      <p id="name"></p>
      <p id="address"></p>
    </div>
  </div>
</div>